<div class="row">
{{# latest_media.all }}
  <div class="col-xs-6 col-md-3 small">

	<div class="thumbnail">
	<a href="{{ posturl }}">
		<div class="image">
			<img src="{{ url }}" alt="{{ name }}">
		</div>
		<div class="caption hidden-xs hidden-sm">
			<p class="project-title">{{# postdirect?to_results}}{{title}}{{/ postdirect?to_results}}{{# postdirect?to_posts}}{{title}}{{/ postdirect?to_posts}}</p>
			<p class="project-sub">{{# postdirect?to_results}}<time class="timeago" datetime="{{date}}">{{date}}</time>{{/ postdirect?to_results}}
			{{# postdirect?to_posts}}<time class="timeago" datetime="{{date}}">{{date}}</time>{{/ postdirect?to_posts}}</p>
		</div>
	</a>
	</div>
	<p class="visible-xs visible-sm text-center text-muted">{{# postdirect?to_results}}{{title}}{{/ postdirect?to_results}}</p>

  </div>
{{/ latest_media.all }}
</div>
<div class="top-buffer"></div>

{{# postdirect?to_results}}{{title}}{{/ postdirect?to_results}}