<a href="{{ page.shiny_url }}" class="btn btn-warning btn-xs modal-iframe" data-toggle="modal" href="#" data-target="#myModal"><i class="fa fa-bar-chart-o"></i> Show data</a>

<!-- DATA -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                 <h4 class="modal-title">{{ page.title }}</h4>
            </div>
            <div class="modal-body" style="padding:0;">
			<!-- iframe loads here -->
			
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
